.row.info-section
	.small-12.medium-6.columns
		%h2 Kingston, NY
		%h4 234 broadway, 12344
	.small-12.medium-3.columns.right
		%ul.menu
			%li
				%a{ href: "#flea", title: "Flea" } Get directions
			%li
				%a{ href: "#event_space", title: "event_space" } 845-234-4646


.row#flea.flea-section
	.small-12.columns
		.title-bar
			Flea
.row#event_space.event-space
	.small-12.columns
		.title-bar
			Event Space
.row#map.map-section
	.small-12.columns
		.title-bar
			Map
.row#contact.contact-section
	.small-12.columns
		.title-bar
			Contact
