%html
  %link{:rel => :stylesheet, :type => :"text/css", :href => "/css/style.css"}
  %link{:rel => :stylesheet, :type => :"text/css", :href => "/css/foundation.css"}

  %h6 rendering template then body 
  = yield