h6{
	color: blue;
}

.row {
  max-width: 100%;
}

.flea-section{
  box-shadow: inset 0 20px 20px -20px #000000;
  height: 25em;
  background-image: url("http://www.longisland.com/site_media/images/resource/Otavalo_Market_II_Philip_Niewold_Philipn.jpg");
  background-size: cover;
  overflow: hidden;
}
.flea-content{
  background-color: rgba(255, 255, 255, 0.94);
  padding: 1em;
}
.flea-header{
  padding: 1em 0em;
  text-align: center;
  background-color: #2B256B;
}

.flea-header h3{
  color:#FFFDB5;
}

.flea-inner-section{
  padding:1em;

}

.contact-section{
  height: 13em;
  background-color: #092D46;
  box-shadow: inset 0 20px 20px -20px #000000;
}

.contact-list{
  list-style-type: none;
  color: #F9F9F9;

}
.event-space{
  height: 30em;
  background-color: #092D46;
  box-shadow: inset 0 20px 20px -20px #000000;
}

.map-section{

}

.info-section{
  padding-top: 1.5em;
  position:relative;
}

.info-section .columns h2, h5, .menu li{
  color: #888787;
}

.menu li a{
  color: #888787;
  @media only screen {
    display: block;
  }
}

.vendor-list{
  list-style-type: none;
}

.menu li {
  @media only screen {
    display: list-item;
  }
}

.small-12 .menu{
  position:absolute;
  bottom:0;
}

#map {
  height: 25em;
}

/*overrides*/
.top-bar {
  box-shadow: 0px 1px 5px #222222;
  /* the rest of your styling */
}

.title-bar{
  height: 2em;
  background-color: rgba(10, 10, 10, 0);
  font-size: 2rem;
  color: #F9F9F9;
}

.vcard li{
  color: #F9F9F9;
}