h6{
	color: blue;
}

/*overrides*/
.row {
  max-width: 100%;
}

.flea-section{
  height: 25em;
  background-image: url("http://www.longisland.com/site_media/images/resource/Otavalo_Market_II_Philip_Niewold_Philipn.jpg");
  background-size: cover;
  overflow: hidden;
}

.contact-section{

}

.event-space{

}

.map-section{

}
.info-section{
  padding-top: 1.5em;
  position:relative;
}

.info-section .columns h2, h5, .menu li{
  color: #888787;
}

.menu li a{
  color: #888787;
}

.small-12 .menu{
  position:absolute;
  bottom:0;
}


#map {
  height: 25em;
}

.top-bar {
  box-shadow: 0px 1px 5px #222222;

  /* the rest of your styling */
}